#!jinja2

[meta]
    title = "Postprocessing Example 1"

[cylc]
    UTC mode = True
    [[parameters]]
        realm = atmos, ocean, land, ice

[scheduling]
    initial cycle point = {{PP_START}}
    final cycle point = {{PP_STOP}}
    [[dependencies]]
        # do every year
        [[[P1Y]]]
            graph = "pp-starter => stage-history => refineDiag"
        # do every CHUNK-A (e.g. 5-yr)
        [[[0005/P5Y]]]
            graph = """
refineDiag[-P4Y] & refineDiag[-P3Y] & refineDiag[-P2Y] & refineDiag[-P1Y] & refineDiag =>
postprocess-A<realm> => analysis-A
"""
        # do every CHUNK-B (e.g. 20 yr)
        [[[0020/P20Y]]]
            graph = """
postprocess-A<realm>[-P15Y] & postprocess-A<realm>[-P10Y] & postprocess-A<realm>[-P5Y] & postprocess-A<realm> =>
postprocess-B<realm> => analysis-B
"""

[runtime]
    [[root]]
        init-script = PATH=$PATH:/home/c2b/opt/rose/bin
        env-script = """
            eval $(rose task-env)
            env
"""
        script = rose task-run --verbose
        [[[job]]]
            submission polling intervals = PT5S
            execution polling intervals = PT5S, PT10S
            execution time limit = PT3H
        [[[events]]]
            mail events = startup shutdown aborted timeout stalled inactivity
            submission timeout = P1D
        [[[environment]]]
        [[[directives]]]
            --comment=xtmp
    [[pp-starter]]
    [[stage-history]]
        pre-script = module load gcp hsm/test
        [[[job]]]
            batch system = slurm
            execution time limit = PT8H
    [[refineDiag]]
        script = "sleep 10; echo This is a RD script"
    [[POSTPROCESS]]
    [[postprocess-A<realm>]]
        script = "sleep 60; echo This is a PP script for chunk A"
    [[postprocess-B<realm>]]
        script = "sleep 120; echo This is a PP script for chunk B"
    [[ANALYSIS]]
    [[analysis-A]]
    [[analysis-B]]

[visualization]
