name: create_test_conda_env

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Sleep needed due to a race condition where cloud runner pipeline
      # wanted to copy fre-workflows but did not have the permission to access
      # .pyc files creates by running pytests
      # Solution: start this pipeline after the test_cloud_runner.yml pipeline
      #           starts to allow time for copying fre-workflows without a 
      #           permission denied error
      - name: Sleep
        run: sleep 60

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '>=3.9'

      - name: Add conda to system path
        run: |
          # $CONDA is an env var pointing to root of miniconda dir
          echo $CONDA/bin >> $GITHUB_PATH

      - name: Create fre-workflows environment
        run: |
          # create environment containing all dependencies
          # the env cannot be explicitly activated in github CI/CD
          conda env create -f environment.yml --name fre-workflows
          conda list -n fre-workflows

          # add conda env's executables to github's PATH equiv.
          echo $CONDA/envs/fre-workflows/bin >> $GITHUB_PATH

      - name: in fre-workflows environment, cylc lint
        run: |
          # lint .cylc workflow files
          cylc lint -v

      - name: Jinja2filter pytest
        run: |
          pytest -vv -rx ./Jinja2Filters/tests

      - name: Jinja2filter pylint
        run: |
          pylint -v --fail-under 7.0 ./Jinja2Filters

      - name: lib/python pytest
        run: |
          pytest -vv -rx ./lib/python/tests

      - name: lib/python pylint
        run: |
          pylint -v --fail-under 9.4 ./lib/python

      - name: python macros pytest
        run: |
          pytest -vv -rx ./meta/lib/python/macros/tests

      - name: python macros pylint
        run: |
          pylint -v --fail-under 7.5 ./meta/lib/python/macros/

      - name: make-timeseries pytest
        run: |
          pytest -vv -rx ./app/make-timeseries/test/test_make_timeseries.py

      - name: make-timeseries pylint
        run: |
          pylint --fail-under 9.0 ./app/make-timeseries/test/test_make_timeseries.py

      - name: combine-statics pytest
        continue-on-error: false
        run: |
          # pytest unittests for remap-pp-components
          pytest -v -v -rx  ./app/combine-statics/tests
          
      - name: rename-split-to-pp pytest
        continue-on-error: false
        run: | 
          pytest app/rename-split-to-pp/tests/test_rename_split_to_pp.py    

      - name: combine-statics pylint
        run: |
          # pytest unittests for remap-pp-components
          pylint -v --fail-under  9.85 ./app/combine-statics

      - name: analysis_validator pytest
        run: |
          pytest -vv -rx ./tests/test_analysis_validator.py
