name: create_test_conda_env

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '>=3.9'

      - name: Add conda to system path
        run: |
          # $CONDA is an env var pointing to root of miniconda dir
          echo $CONDA/bin >> $GITHUB_PATH

      - name: Create fre-workflows environment
        run: |
          # create environment containing all dependencies
          # the env cannot be explicitly activated in github CI/CD
          conda env create -f environment.yml --name fre-workflows

          # add conda env's executables to github's PATH equiv.
          echo $CONDA/envs/fre-workflows/bin >> $GITHUB_PATH

      - name: in fre-workflows environment, cylc lint
        run: |
          # lint .cylc workflow files
          cylc lint -v

      - name: in fre-workflows environment, data_lineage unittest and pylint
        continue-on-error: true
        run: |
          # unittests for data_lineage
          cd data_lineage && \
             python -m unittest discover -s test -v ; \
             pylint -v ; \
             cd - ;

      - name: in fre-workflows environment, make-timeseries pytest and pylint
        continue-on-error: true
        run: |
          # pytest unittests for make-timeseries
          cd app/make-timeseries && \
             pytest -v -v -rx --cov=bin/make-timeseries ./test ; \
             pylint -v ; \
             cd - ;

      - name: in fre-workflows environment, remap-pp-components pytest and pylint
        continue-on-error: false
        run: |
          # pytest unittests for remap-pp-components
          cd app/remap-pp-components && \
             pytest -v -v -rx --cov=bin/remap-pp-components ./t ; \
             cd - ;

      - name: in fre-workflows environment, root directory pytest
        continue-on-error: true
        run: |
          # pytest unittests for other things in this repository
          pytest -v -v -rx ./tests

      - name: Jinja2filter tests
        continue-on-error: false
        run: |
          cd Jinja2Filters && \
            pytest -v ./tests ; \
            cd - ;
