name: create_test_conda_env

on: [push]

jobs:
  test-cloud:
    runs-on: self-hosted
    steps:
      #- uses: actions/checkout@v4
      #- name: Set up Python
      #  uses: actions/setup-python@v5
      #  with:
      #    python-version: '>=3.9'

      - name: Run test script
        run: |
          # Print pwd then run script
          echo "Currently in:"
          pwd
          /contrib/runnertest.sh
