name: test_cloud_runner
on:
  workflow_dispatch:
    inputs:
      fre-workflows-repo:
        description: "If using fork: Input fork name (example: singhd789/fre-workflows). Leave empty if not using a fork."
        required: false
        type: string
      fre-workflows-branch:
        description: 'If on fork: Input branch you are using on your fork.'
        required: false
        default: 'main'
        type: string
      fre-cli-repo:
        description: 'NOAA-GFDL/fre-cli repo'
        required: true
        type: choice
        default: 'NOAA-GFDL/fre-cli'
        options:
          - 'NOAA-GFDL/fre-cli'
      fre-cli-branch:
        description: 'Input which fre-cli branch to check out'
        required: true
        default: 'main'
        type: string
  push:
    branches:
      - main  # triggers pipeline on push to main

# cancel running jobs if theres a newer push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-cloud:
    runs-on: self-hosted
    steps:
      - name: Checkout fre-workflows fork if specified
        if: ${{ github.event.inputs.fre-workflows-repo != ''}}
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.fre-workflows-repo }}
          ref: ${{ github.event.inputs.fre-workflows-branch }}
      - name: Checkout fre-workflows repository if no fork specified
        if: ${{ github.event.inputs.fre-workflows-repo == ''}}
        uses: actions/checkout@v4
      - name: Checkout fre-cli
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.fre-cli-repo }}
          ref: ${{ github.event.inputs.fre-cli-branch }}
          path: './fre-cli'
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v5
      - name: Display fre-workflow and fre-cli repos and branches
        run: |
          # fre-workflows repo and branch
          echo "fre-workflows repo: $(git remote -v)"
          echo "fre-workflows branch: $(git branch)"

          # fre-cli repo and branch
          cd fre-cli
          echo "fre-cli repo: $(git remote -v)"
          echo "fre-cli branch: $(git branch)"
          cd -
      - name: Run ppp-container
        run: |
          # Print pwd then run script
          echo "Currently in:"
          cwd=$(pwd)
          echo $cwd
          gridspec_file=c96_OM4_025_grid_No_mg_drag_v20160808.tar
          bind_paths="--bind /contrib/container-test/ppp-setup/:/mnt:rw
                      --bind /contrib2/c96L65/history:/mnt/history:ro
                      --bind /contrib/container-test/grid_spec/${gridspec_file}:/mnt/${gridspec_file}:ro
                      --bind /contrib/container-test"

          container_path=/contrib/container-test/ppp-wf.sif
          runscript_path=${cwd}/for_gh_runner/runscript.sh

          singularity exec --writable-tmpfs ${bind_paths} ${container_path} ${runscript_path}

          # Can potentially do this to get list of tasks
          #task_list=$(cylc list test_pp__ptest__ttest)
          #task1=$(echo $task_list | cut -d ' ' -f1) ....

      - name: Upload workflow-run log files
        uses: actions/upload-artifact@v4
        with:
          name: fre-workflow-logs
          path: /contrib/container-test/ppp-setup/cylc-run/test_pp__ptest__ttest/log
          if-no-files-found: error

      - name: Print workflow summary
        continue-on-error: true
        run: |
          python for_gh_runner/check_workflow_tasks.py --summary

      - name: Check all workflow tasks
        run: |
          python for_gh_runner/check_workflow_tasks.py

## Keep in here for now as a just in case reference ##
#      - name: Print any succeeded tasks
#        run: |
#          # List tasks that have succeeded (and completed) in the workflow
#          grep -E ":succeeded.*completed" /contrib/container-test/ppp-setup/log.out
#

## maybe, all the printinig above should be continue-on-error for informational purposes
## then, this task does the final determination if things ran right or wrong.
## githubs auto-annotations for warnings etc are good are helping one figure out where to sniff around
#      - name: Print any failed tasks
#        run: |
#          # Search for if there is an ERR status for any task
#          if grep -q "failed/ERR" /contrib/container-test/ppp-setup/log.out; then
#              echo "Task failures found: CHECK THE LOG FILES UPLOADED AS ARTIFACTS"
#              grep "failed/ERR" /contrib/container-test/ppp-setup/log.out
#              exit 1
#          fi
#
#          echo "Workflow ran successfully"

##To-do:
# - figure out if container will be hosted on cloud or somehow pulled from registry
# - examine behavior of runner in draft vs not draft mode
